
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto','Arial', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  color: #ffffff;

  background-color: #849d8f;

}
.bg_ice_cream {
  background: url('../img/ice-cream-bg1.png') no-repeat 50% 0;

}
.light_bg {
  background-image: linear-gradient(to bottom , rgba(255,255,255,0.2), transparent);
  background-repeat: no-repeat;
  background-size: auto 500px;
  background-position: 50% 0;
}



a {
  text-decoration: none;
}
.name_users input[type="text"]::placeholder,
.email_user input[type="email"]::placeholder,
.email_user_header input[type="email"]::placeholder,
.password_users_header input[type="password"]::placeholder,
.search input[type="search"]::placeholder,
.subscribe_forms input[type="email"]::placeholder,
.comment textarea::placeholder {
  font-size: 16px;
  font-weight: normal;
  color: #999999;
  line-height: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip:
  rect(0 0 0 0);
  overflow: hidden;
}
.btn_and_link_style {
   background-image: linear-gradient(to top, #e74a35, #f26843);
   box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
   text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}
.btn_and_link_style:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn_and_link_style:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.label_form_style {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  line-height: 16px;
}
.wrap {
  width: 1142px;
  margin: 0 auto;
}
/*Декор стили*/
/*index.html begin*/
.slider_btn {
  width: 21px;
  height: 21px;
  background-color: rgba(0,0,0,0);
  border: 2px solid white;
  border-radius: 50%;
}
.title_slider {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}
.slider_link {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  line-height: 44px;
}

.slider_btn:hover {
  background-color: rgba(248, 247, 244, 0.4);
}
.slider_btn:active,.slider_btn:focus {
  background-color: #ffffff;
}

.main_navigation_items {
  padding-left: 0;
  list-style: none;
}
.main_navigation_items li {
  margin-left: 1px;
  font-size: 16px;
  font-weight: bold;
  line-height:18px;
  color: white;
}

.main_navigation_items a {
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.main_navigation_items li:hover {
  background-color: #ffffff;
}
 .elements_main_navigation_items:hover a {
  color: #333333;
  border: none;
}
.main_navigation_items > li:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.fall_nav_main_header {
  background-color: #f8f7f4;
  list-style: none;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.fall_nav_main_header a {
  font-size: 14px;
  line-height: 14px;
  color: #323232;
  font-weight: 400;
  text-decoration: none;

}
a.another {
  font-weight: bold;
}
.fall_nav_main_header a:hover {
   background-color: #fbded7;
}
.fall_nav_main_header a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.user_menu {
  list-style: none;
}
.user_menu_search  a {
  background-color: rgba(255, 255, 255, 0.2);
}
.search input[type="search"] {
  width: 311px;
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  color: #323232;
  line-height: 24px;
  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}
.search button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  line-height: 16px;
  border-radius: 20px;
  border: none;
}

.user_menu_signout > a {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.user_menu button {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: #fefefe;
  border-radius: 20px;
  border: none;
}

p.email_user_header input[type="email"] {
  width: 241px;
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  color: #323232;
  line-height: 24px;
  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}
p.password_users_header input[type="password"] {
  width: 241px;
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  color: #323232;
  line-height: 24px;
  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.help_form_elemnts a {
   font-size: 13px;
   font-weight: 400;
   line-height: 24px;
   color: #323232;
}

.help_form_elemnts a:hover {
  color: #e84d37;
}
.help_form_elemnts a:active {
  color: #e84d37;
}

.user_menu_my_shop a {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.information_job_time {
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}
.information_job_number {
  font-size: 22px;
   font-weight: bold;
   line-height: 24px;
   text-align: right;
   color: #ffffff;
   text-decoration: none;
}


.slider {
  width: 1065px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.slider_one {
  width: 100%;

}

.banners_event:first-child {
  border-radius: 15px;
  background-image: url('../img/raspberry.png');
}
.banners_event:last-child {
  border-radius: 15px;
  background-image: url('../img/chocolate.png');
}
.title_banners {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
}
.discriptions_event {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
}
.banners_event a {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.99;
  text-decoration: none;
}

.shop_cards {
  list-style: none;
  box-sizing: border-box;
}
li.shop_card_item {
  width: 293px;
  box-sizing: border-box;
  padding: 0 13px 0 13px;
}

.shop_card_item > a {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #fefefe;
  text-decoration: none;
}
.visibli_part_shop_card img {
  border-radius: 50%;
}
.cost {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}
.cost span {
  font-size: 30px;
  line-height: 22px;
}
.discription_part_shop_card a {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
}

.about {
  background: url('../img/waffle.png');
}
.title_about {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}
.about_dicription {
  list-style: none;
}
.about li {
  font-size: 16px;
  font-weight: 400;
   line-height: 22px;
   color: #323232;
}

.guids {
  background: #ffffff url('../img/article.jpg') no-repeat;
}
.title_guids {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;
}
.title_article a {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
}

.subscribe {
  background-image: url('../img/outdoor_sub_bg.png');
  background-repeat: no-repeat;
  border-radius: 20px;
}
.sub_bg {
  background-color: #f8f7f4;
  border-radius: 20px;
}
.subscribe_discriptions {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
}
.subscribe_forms input[type="email"] {
  box-sizing: border-box;
  width: 368px;
  height: 40px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #323232;
  line-height: 24px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px rgba(178, 178, 178, 0.52);
}
.subscribe_forms button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  border: none;
}

.feedback {
  background-color: #ffffff;
}
.feedback h5 {
  font-size: 14px;
  font-weight: 400;
   line-height: 20px;
   color: #323232;
}
.place_feedback {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;
}
.discriptions_contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
}
.contacts_map a {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;
  text-decoration: none;
}
.contacts_map span {
  font-size: 14px;
  font-weight: 400;
  line-height:22px ;
  color: #323232;
}
.feedback_link {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #fefefe;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.other_information {
  list-style: none;
}
.other_information  a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}
a.another_other {
  font-weight: bold;
}

.creator_discriptions {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;
}
.creator_discriptions a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;
}

.modal_task_feedback {
  background-color: #ffffff;
}
.modal_task_feedback button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  border: none;
}
.tittle_modal {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}
.name_users input[type="text"] {
  width: 267px;
  height: 44px;
  background-color: #ffffff;
  border: solid 1px rgba(178, 178, 178, 0.52);
  font-size: 16px;
  font-weight: bold;
  color: #323232;
  line-height: 24px;
  border-radius: 5px;
}
.email_user input[type="email"] {
  width: 267px;
  height: 44px;
  background-color: #ffffff;
  border: solid 1px rgba(178, 178, 178, 0.52);
  font-size: 16px;
  font-weight: bold;
  color: #323232;
  line-height: 24px;
  border-radius: 5px;
}
.comment textarea {
  width: 428px;
  height: 155px;
  font-size: 16px;
  font-weight: bold;
  color: #323232;
  line-height: 24px;
  background-color: #ffffff;
  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}
/*index.html end*/

/*catalog.html begin*/
.basket {
   font-size: 13px;
   font-weight: normal;
   line-height: 16px;
   color: #323232;
   background-color: #f8f7f4;
   box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
   border-radius: 5px;
}
.basket_all_cost {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
}
.decor_basket_cost {
  color:#999999;
}
.final_basket {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #fefefe;
}

.bread_crumb {
  list-style: none;
}
.bread_crumb a {
  font-size: 14px;
  font-weight: 400;
  color:#ffffff;
  line-height: 16px;
}

.title_catalog {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
}

.choose_sort {
  width: 100%;
  height: 37px;
  padding: 0 13px 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  background-color: rgba(255,255,255,0.2);
  color: #ffffff;
  border-radius: 20px;
}
.choose_sort option {
  color: #323232;
}

.bg_range {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 20px;
}
.range-controls {
  position: relative;
  margin: 0 auto;
  margin-left: 20px;
}
.range-controls .scale {
  box-sizing: border-box;
  width: 176px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 60%;
  margin-left: 25px;
  height: 4px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 5px;
}

.range-toggle-max {
  left: 110px;
}

.disc_fatness {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

}
.bg_fatness {
  background-color: rgba(255,255,255, 0.2);
}
.bg_fillers {
  background-color: rgba(255,255,255, 0.2);
}
.filter_shop {
  margin-bottom: 35px;
}
.filter_shop button {
  position: relative;
  top:10px;
  left: 5px;
  padding: 8px 24px 8px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(255,255,255,0.2);
  border: solid 2px #ffffff;
  border-radius: 20px;
}
.filter_shop button:hover {
  color: #323232;
  background-color: #ffffff;
}
.filter_shop button:active {
  background-color: #ededed;
 box-shadow: inset 0px 2px 1px 0 #696969;
 color: #323232;
}

.switch_page {
  list-style: none;
}
.switch_page a {
  display: block;
  padding: 4px 8px 3px 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}
.switch_page a.style_active_switch:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
  border-radius: 50%;
}
a.active_switch_page {
  background-color: #ffffff;
  color: black;
  border-radius: 50%;
}

/*Сеточные стили*/
.slider {
  position: relative;
  padding-top: 275px;
}
.slider_interactive {
  position: absolute;
  bottom: 20px;
  left: -40px;
}
.slider_btn_two, .slider_btn_three {
  margin-left: 3px;
}
.title_slider {
  text-align: center;
  width: 690px;
  margin: 0 auto;
  margin-bottom: 26px;
}
.slider_link {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 50px;
  padding: 11px 36px 11px 36px;
}
.main_header {
  padding-top: 10px;
}

.wrapper_header {
  display: flex;
  flex-direction: column;
}
.information_job_wrapper {
  display: flex;
  justify-content: flex-end;
}
.information_job {

  margin-top: -5px;
}
.information_job span ,
.information_job a {
  display: block;
    width: 169px;
}
.information_job span {
  text-align: right;
  margin-bottom: 8px;
}

.user_menu {
  display: flex;
  margin-left: auto;
  padding-left: 0;

}

.banners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.banners_event {
  width: 560px;
  box-sizing: border-box;
  padding: 18px 0px 50px 20px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}
.banners_event .title_banners {
  margin: 0;

}
.banners_event a {
  display: inline-block;
  padding: 10px 20px 10px 21px;
  border-radius: 50px;
  margin: 25px 26px 0px 0 ;
  align-self: flex-end;


}
.best_items_shop {

  width: 100%;

  margin-bottom: 41px;
}
.best_items_shop ul{
  width: 1172px;
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
li.shop_card_item {
  position: relative;
  z-index: 1;
}
li.shop_card_item::before {
  content: "";
  position: absolute;
  display: none;
  width: 100%;
  height: calc(100% + 83px);
  left: 0;
}
li.shop_card_item:hover {
  z-index: 2;
}
li.shop_card_item:hover::before {
  display: block;
  background-color: rgba(255,255,255, 0.2);
   box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
   border-radius: 5px;
}


.visibli_part_shop_card {
  position: relative;
  padding-top: 5px;
}
.mark_best {
  position: absolute;
}
.cost {
  position: absolute;
  bottom: 20px;
  left: 0;
}
.discription_part_shop_card  {
  text-align: center;
  margin: 0;
  margin-top: 5px;
}
.discription_part_shop_card a {

  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.shop_card_item >  a {
  display: none;
  position: absolute;
  left: 50px;
  bottom: -60px;
  padding: 7px 11px 7px 11px;
  border-radius: 50px;
}
.shop_card_item:hover >  a {
  display: block;
}
.about {
  width: 100%;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 15px;
}
.title_about {
  padding-left: 21px;
}
.about_dicription {
  padding: 0;
  margin: 20px 0 0 0 ;
  padding-left: 75px;
  padding-right: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about_dicription li {
  padding: 0;
  position: relative;
  width: 476px;
}
.about_dicription li:nth-child(3),
.about_dicription li:last-child {
  margin-top: 25px;
}
.about_dicription li::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: -12px;
  left: -55px;
}
.about_dicription_ice::before {
  background-image: url('../img/ice-cream-icon.svg');
}
.about_dicription_cow::before {
  background-image: url('../img/cow-icon.svg');
}
.about_dicription_sheet::before {
  background-image: url('../img/sheet-icon.svg');
}
.about_dicription_degree::before {
  background-image: url('../img/degree-icon.svg');
}

.aricle_and_sub_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom:40px;
}
.aricle_and_sub_wrapper .guids ,
.aricle_and_sub_wrapper .subscribe {
  width: 560px;
}
.guids {
  border-radius: 15px;
  box-sizing: border-box;
  padding: 12px 0 80px 18px;
}
.title_guids {
  margin: 0;
  margin-top: 15px;
  }
.title_article {
  margin: 0;
  width: 280px;
}
.title_article a {
  text-decoration: underline;
}
.subscribe {
  box-sizing: border-box;
}
.sub_bg {
  box-sizing: border-box;
  margin: 5px 5px 5px 5px;
  padding-bottom: 20px;
}
.subscribe_discriptions {
  padding: 33px 21px 0 21px;
  margin: 0;
  margin-bottom: 22px;
}
.subscribe_forms {
  padding: 0 21px 0 21px;
}
.subscribe_forms form {
  display: flex;
}
.btn_sub {
  margin-left: 15px;
  padding: 9px 17px 10px 17px;
}


.map_and_feedback {
  position: relative;
}
.map_wrapper img {
  display: block;
  width: 1200px;
  margin: 0 auto;
}


.feedback_wrapper {
  width: 1160px;
  position: relative;
  margin: 0 auto;
}

.feedback {
  width: 302px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 27px;
  padding-bottom: 40px;
  position: absolute;
  top: -365px;
  right: 10px;
  border-radius: 10px;
}
.discriptions_feedback {
  margin: 0;
  padding-right: 127px;
}
.place_feedback {
  margin: 0;
  padding-right: 42px;
}
.discriptions_contacts {
  margin: 0;
  margin-top: 20px;
}
.contacts_map {
  margin: 0;
  margin-bottom: 35px;
}
.contacts_map a {
  display: block;
  text-align: left;
}
.feedback_link {
  padding: 9px 27px 9px 29px;
  border-radius: 20px;
}

.fall_nav_main_header,
.search,
.signout,
.basket {
  display: none;
}


.unity_elemnts_hight {
  display: flex;
}
.main_navigation {
  margin-left: 10px;
}
.main_navigation_items {
  display: flex;
  flex-wrap: wrap;

}

.main_navigation_items  a {
  display: block;
}
.main_navigation_items > li {
  display: block;
  padding: 7px 13px 7px 14px;
  border-radius: 20px;
}

.user_menu li:not(:last-child) {
  margin-right: 10px;
}
.user_menu_search > a {
  display: block;
  padding: 7px 7px 4px 7px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
.open_forms:hover {
  background-color: #ffffff;
}
.open_forms:hover path {
  fill: #323232;
}


.user_menu_signout >a {
    display: block;
    position: relative;
    padding: 7px 17px 7px 44px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}
.user_menu_signout > a:hover {
  background-color: #ffffff;
  color:#323232;
}
.open_sign svg {
  position: absolute;
  left: 20px;
  top: 5px;
}
.open_sign:hover path {
  fill: #323232;
}
.user_menu_my_shop {
  position: relative;
}
.user_menu_my_shop > a {
  display: block;
  position: relative;
  padding: 7px 17px 7px 44px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
.user_menu_my_shop a::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  left: 15px;
  top: 5px;

}
a.basket_activity {
  background-color: #ffffff;
  color: #323232;
}
.basket_no_active::before {
  background-image: url('../img/basket.svg');
}
.basket_activity::before {
  background-image: url('../img/basket-active.svg');
}
.main_navigation_items li:first-child {
  position: relative;
}
.fall_nav_main_header  {
  position: absolute;
  padding: 0;
  top: 40px;
  right:-25px;
  border-radius: 5px;
}
.fall_elements > a {
  display: block;
  width: 102px;
  padding: 9px 20px 9px 21px;
  border-radius: 0;
}
.fall_elements > a.another {
  border-bottom: 1px solid #d1d0ce;
}
.sublist_visible:hover .fall_nav_main_header {
  display: block;
}

.user_menu_search {
  position: relative;
}
.search {
  position: absolute;
  padding: 20px 15px 20px 15px;
  right:  -10px;
  top:37px;
  background-color: #ffffff;
  border-radius: 5px;
}
.user_menu_search:hover .search {
  display: block;
}
.user_menu_signout {
  position: relative;
}



.signout {
  position: absolute;
  right: 0px;
  top:40px;
  background-color: #ffffff;
  display: none;
  padding: 0px 20px 20px 20px;
  flex-wrap: wrap;
  border-radius: 5px;
}
.user_menu_signout:hover .signout {
  display: flex;
}
.signout_wrapper {
  position: relative;
}
.btn_signout_form {
  display: inline-block;
  padding: 8px 19px 8px 19px;
}

.help_form_elemnts {
  position: absolute;
  right: 10px;
  bottom: -15px;
}
.help_form_elemnts a {
  display: block;
}

.footer_wrapper {
  padding-top: 10px;
}
.social {
  display: flex;
  margin: 0;
  margin-top: 5px;
}
.social a {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255,255,255, 0.2);

  border-radius: 50%;
}
.social a:not(:first-child) {
  margin-left: 10px;
}
.social_link path {
  fill: rgba(255,255,255, 0.5);
}
.social_link:hover path {
  fill: #ffffff;
}


.other_information {
  width: 304px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10px;

  padding: 0;
}
.other_information li:nth-child(2) {
  position: relative;
  left: -55px;
}
.other_information_item a {
  display: block;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.another_other {
  position: relative;
}
.another_other::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  left: -22px;
  top: 4px;
  background-image: url('../img/heart.svg');
}

.creator  {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.logo_html_academy img {
  position: relative;
  left: -10px;
}

.modal_task_feedback {
  display: none;
  position: fixed;
  box-sizing: border-box;
  width: 488px;
  left: 50%;
  top: 150px;
  margin-left: -239px;
  padding-left: 29px;
  padding-bottom: 27px;
  border-radius: 10px;
}
.modal_task_feedback .modal_close {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 30px;
  top: 25px;
  background-color: #ffffff;
}
.modal_task_feedback .modal_close::after,
.modal_task_feedback .modal_close::before {
  content: "";
  width: 20px;
  height: 2px;

  position: absolute;
  background-color: #323232;
}
.modal_task_feedback .modal_close::after {
  transform: rotate(45deg);
}
.modal_task_feedback .modal_close::before {
  transform: rotate(-45deg);
}
.modal_task_feedback h5 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.modal_task_feedback p {
  margin: 0;
  margin-bottom: 20px;
}
.button_modal_done {
  margin-left: 310px;
  padding: 8px 18px 8px 18px;
}
.modal_task_feedback input, .modal_task_feedback textarea {
  box-sizing: border-box;
  padding: 16px 0 12px 14px;
}

li.active_nav {
  background-color: #d07058;
  color: #ffffff;
}
li.active_nav a {
  border: none;
}
div.not_spide_landing {
  justify-content: space-between;
}
ul.bread_crumb {
  display: flex;
  align-self: flex-end;
  margin-bottom:2px;
  padding: 0;
  margin-top: -20px;
}
.bread_crumb_item {
  position: relative;
  z-index: 1;
}
.fall_nav_main_header {
  z-index: 2;
}
.bread_crumb_item:not(:first-child) {
  margin-left: 20px;
}
.decor_crumb::before {
  content: "»";
  position: absolute;
  right: -15px;
}
.bread_crumb_item:not(:last-child) {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.bread_crumb_item:not(:last-child) {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.title_catalog {
  margin: 0;
  margin-bottom: 13px;
}
.wrap_filter {
  display: flex;
  width: 850px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popularity {
  position: relative;
  width: 190px;
}

.choose_sort {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../img/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
.choose_sort:focus {
  background-color: #ffffff;
  color: #323232;
  background-image: url('../img/icon-down-dir.svg');
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
.cost_ice_cream {
  width: 215px;
}

.fatness {
  width: 410px;
}
.disc_fillers, .disc_fatness {
  margin: 0;
}
label.cost_move,
label.sort_move,
p.disc_fillers,
p.disc_fatness {
  display: block;
  padding-bottom: 5px;
  box-sizing: border-box;
  padding-left: 15px;
}
p.disc_fillers {
  padding-bottom: 8px;
}

.fillers {
  width: 703px;
}

.character_row > p {
  margin: 10px 0 10px 0;
}


.character_row {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left:14px;
  padding-right: 20px;
  border-radius: 20px;
}
.bg_fillers {
  padding-left: 18px;
  padding-right: 20px;
}
.label_radio {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
input[type="radio"] + .radio_indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  background: url('../img/radio-off.svg') no-repeat ;
}

input[type="radio"]:checked + .radio_indicator {
  background: url('../img/radio-on.svg') no-repeat ;
}
input[type="radio"]:disabled + .radio_indicator {
  opacity: 0.8;
}
.bg_fatness > p:hover {
  opacity: 0.8;
}


.label_check {
  position: relative;
  padding-left: 38px;
  cursor: pointer;
}
input[type="checkbox"] + .checkbox_indicator {
  position: absolute;

  top: -3px;
  left: 0;
  width: 24px;
  height: 20px;
  background: url('../img/checkbox-off.svg') no-repeat ;
}
input[type="checkbox"]:checked + .checkbox_indicator {
    background: url('../img/checkbox-on.svg') no-repeat;
}
input[type="checkbox"]:disabled + .checkbox_indicator {
    opacity: 0.8;
}
.bg_fillers > p:hover {
  opacity: 0.8;
}

.cards_catalog {
  padding: 0;
  margin: 0;
  display: flex;
  width: 1172px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}
.place_bottom_cards {
  margin-bottom: 40px;
}
.switch_wrapps {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;

}
.switch_page {
  position: relative;
  width: 150px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-right:24px ;
}
.switch_page li {
  margin-right: 3px;
}
.switch_manager {
  position: absolute;
}
.on_switch path {
  fill:#ffffff;
}

.back {
  left: 18px;
  transform: rotate(180deg);
}
.next {
  right: -15px;
}
.decor_line {
  display: block;
  border: none;
  width: 1173px;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.2);
}

.basket {
  position: absolute;
  right: 0;
  top: 35px;
  display: block;
  width: 516px;
  table-layout: fixed;
  padding-top: 20px;
  padding-left: 16px;
  z-index: 3;
}
.img_basket_items img {
  border-radius: 50%;
  vertical-align: top;
}
.discription_basket,.kg_ice_cream,.cost_basket_item {
  padding-top: 10px;
}
.basket .product_basket {
  margin-bottom: 20px;
}
.product_basket td {
  padding-bottom: 10px;
}
.discription_basket {
  width: 310px;
  vertical-align: top;
  padding-left: 10px;
}
.kg_ice_cream,.cost_basket_item {
    vertical-align: top;
}
.basket_all_cost {
  border-top: 1px solid  #cacac7;
}
.basket_all_cost {
  padding-top: 10px;
  text-align: right;
}
.final_basket {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}
.final_basket a {
  padding: 7px 8px 7px 8px;
  border-radius: 20px;
  font-size: 18px;
  line-height:24px;
  font-weight: bold;
}
.reset_order button {
  position: relative;
  background-color: transparent;
  top: -5px;
  left: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.reset_order button::after,
.reset_order button::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #999999;
}

.reset_order button::after {
  transform: rotate(45deg);
  top: 5px;
  left: 0px;

}
.reset_order button::before {
  transform: rotate(-45deg);
  top: 5px;
  left: 0px;
}
